*~
.cache/
.config/
Trash/
.nv/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

.vscode/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.env

.env
.env.local
.env.*.local
*.secret
*.key
*.pem

.venv/